<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sinabro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".shared.di.SinaBroApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sinabro"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.ui.qalearning.QALearningActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.listenlearning.ListenLearningAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.listenlearning.ListenLearningActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.onboarding.OnBoardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.pronouncelearning.PronounceLearningAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.vocalearning.VocaLearningAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.vocasearch.VocaSearchActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".presentation.ui.vocalearning.VocaLearningActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.subjectselect.SubjectSelectActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.pronouncelearning.PronounceLearningActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>